.ui-content {
    position : absolute;
    top      : 41px; /*Header height*/
    right    : 0;
    bottom   : 39px; /*Footer height*/
    left     : 0;
}

#instructions{
	display:none;
}
li{
	list-style-type: none;
}
.rx{
	font-style: italic;
}
#footer{
	text-align: right;
	position: absolute;
	bottom: 0;
	width:100%;
}