body{
	background:#3A4F68;
}

#main{
	margin-top: 20px;
	width: 460px;
	height: 600px;
	background-color: #FFF;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.center{
	margin: 0 auto;
}

img{
	padding:20px 20px 0 20px;
}
#form{
	width:420px;
	padding: 20px;
}

select, button{
	width: 420px;
}

input{
	width:410px;
}

#instr_box{
	height:160px;
	padding: 20px;
	display: none;
}

.full-height{
	min-height:600px;
}

#instr_text{
	font-size:18px;
	line-height: 20px;
}
#startOver{
	display:none;
}
#footer{
	text-align: right;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	background: #FFF;
	width: 460px;
}